body{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #EDF2F7;
}

.main {
  width: 900px;
  min-height: 850px;
  background-color: #B5E5E7;
}

header {
  padding: 0 20px;
  background-color: #1E95D4;
  height: 78px;
  display: flex;
  justify-content: space-between;
}

.header-left a {
  font-size: 32px;
  text-decoration: none;
  color: white;
  line-height: 78px;
  font-weight: bold;
}

.header-right a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: white;
  line-height: 78px;
}

.header-right a:hover {
  text-decoration: none;
  color: #FFCB67;
}

.list-view {
  display: flex;
  justify-content: center;
}

.list-view ul {
  width: 70%;
  padding: 0;
}

.list-view li {
  height: 59px;
  font-size: 20px;
  list-style: none;
  background-color: white;
  color: #7DD1DF;
  margin: 20px auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}

.list-center .line-right {
  line-height: 59px;
}

.list-view p {
  /* font-size: 18px; */
  margin: 0;
  /* line-height: 59px; */
}

.list-left p {
  line-height: 59px;
}

