body{
  margin: 0 auto;
  background-color: #EDF2F7;
}

.main-contents {
  margin: 0 300px;
  min-height: 800px;
  background-color: #B5E5E7;
}

header {
  padding: 0 20px;
  background-color: #1E95D4;
  height: 78px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  /* z-index: 1; */ /* 必要に応じて修正すること */
}

.header-left a {
  font-size: 32px;
  text-decoration: none;
  color: white;
  line-height: 78px;
  font-weight: bold;
}

.header-right a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: white;
  line-height: 78px;
  padding-right: 40px;
}

.header-right a:hover {
  text-decoration: none;
  color: #FFCB67;
}

.list-view {
  display: flex;
  justify-content: center;
  margin-top: 78px;
  margin-bottom: 63px;
}

.list-view ul {
  width: 70%;
  padding: 0;
  list-style: none;
}

.list-view li {
  height: 70px;
  background-color: white;
  color: #7DD1DF;
  margin: 20px auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-left {
  font-size: 30px;
  margin-left: 30px;
}

.list-center {
  font-size: 20px;
}

.list-center .line-right {
  line-height: 70px;
}

.list-view p {
  margin: 0;
}

.list-left p {
  line-height: 59px;
}

.list-right {
  margin-right: 10px;
}

.list-right button {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.add-button {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 10%;
  right: 20%;
  width: 70px;
  height: 70px;
  line-height:70px;
  font-weight: bold;
  font-size: 40px;
  background-color: #FFCB67;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.modal-button {
  text-decoration: none;
  background-color: #FFCB67;
  border: none;
  color: white;
  border-radius: 50%;
  font-size: 50px;
  cursor: pointer;
}

.modal-button:focus {
  outline: none;
  border: none;
}

footer {
  height: 63px;
  background-color: #1E95D4;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.link-icons {
  display: flex;
  justify-content: space-around;
}

.link-icons a {
  line-height: 63px;
  text-decoration: none;
  color: white;
}

/* モーダルレイヤー */
.layer {
  background: rgba(0, 0, 0, .2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateY(100%);
}

/* モーダルコンテンツ */
.modal {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 80%;
  min-width: 440px;
}

.modal__inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #1E95D4;
  color: white;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px 13px 0 0;
  display: block;
  padding: 21px 8px 21px;
  height: auto;
}

.modal__content {
  padding-top: 15px;
  padding-bottom: 23px;
}

.layer.active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
  transform: translateY(0);
}

fieldset {
  border: none;
  position: relative;
}

.add-form legend {
  font-weight: bold;
  font-size: 28px;
}

.add-form label {
  font-size: 22px;
}

.add-form span {
  font-size: 22px;
}

.add-form input {
  color: white;
  height: 30px;
  font-size: 22px;
  margin-left: 10px;
  background-color: #1E95D4;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}

.add-form input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

.limit-form input {
  width: 100px;
}

.add-form button {
  background-color: #FFCB67;
  color: white;
  width: 100px;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  bottom: 0;
  outline: none;
  border: none;
  cursor: pointer;
}