body{
  margin: 0 auto;
  background-color: #EDF2F7;
}

.main-contents {
  margin: 0 300px;
  min-height: 800px;
  background-color: #B5E5E7;
}

header {
  padding: 0 20px;
  background-color: #1E95D4;
  height: 78px;
  display: flex;
  justify-content: space-between;
}

.header-left a {
  font-size: 32px;
  text-decoration: none;
  color: white;
  line-height: 78px;
  font-weight: bold;
}

.header-right a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: white;
  line-height: 78px;
}

.header-right a:hover {
  text-decoration: none;
  color: #FFCB67;
}

.list-view {
  display: flex;
  justify-content: center;
}

.list-view ul {
  width: 70%;
  padding: 0;
  list-style: none;
}

.list-view li {
  height: 70px;
  /* font-size: 25px; */
  background-color: white;
  color: #7DD1DF;
  margin: 20px auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list-left {
  font-size: 30px;
}

.list-center {
  font-size: 20px;
}

.list-center .line-right {
  line-height: 70px;
}

.list-view p {
  margin: 0;
}

.list-left p {
  line-height: 59px;
}

.list-right button {
  background-color: white;
  margin-left: auto;
}

.add-button {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 10%;
  right: 25%;
  width: 70px;
  height: 70px;
  line-height:70px;
  font-weight: bold;
  font-size: 40px;
  background-color: #FFCB67;
  border-radius: 50%;
  text-align: center;
}

.add-button a {
  text-decoration: none;
  color: white;
}

footer {
  height: 63px;
  background-color: #1E95D4;
  position: absolute;
  bottom: 0;
  width: 100%;
}
